.coach-profile-container {
    background-color: #e6e6e6;
    height: 90vh;
    padding: 3rem;
}

.profile-card {
    background-color: black;
    border-radius: 0.3rem;
    color: white;
    width: 40%;
    margin: auto;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.profile-card .profilecard-item {
    text-align: left;
    padding-bottom: 1rem;
}

.profilecard-font-small {
    font-size: 0.9rem;
    text-align: left;
}

.profile-card div {
    width: 50%;
}

